.footer-nav {
}

.footer-nav__part {
  &--contacts {
  }
}

.footer-nav__heading {
  font-weight: 700;
  color: #7859cf;
}

.footer-nav__list {
  @include list-reset;
}

.footer-nav__item {
}

.footer-nav__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #333333;
  text-transform: uppercase;

  &--contacts {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-transform: none;
  }
}
