.map {
}

.map iframe {
  width: 320px;
  height: 320px;
  border: 0;

  @media (min-width: $tablet-width) {
    width: 478px;
    height: 480px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    height: 540px;
  }
}
