.page-header__wrapper {
  position: relative;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px;
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-start;
    padding: 0 40px;
  }
}

.page-header__logo-wrapper {
  position: absolute;
  top: 12px;
  left: 20px;

  @media (min-width: $tablet-width) {
    position: static;
    margin-top: 22px;
    margin-right: 67px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 20px;
  }
}

.page-header__note {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    width: 126px;
    margin: 24px auto 24px 0;
    font-size: 12px;
    line-height: 16px;
  }
}

.page-header__nav {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.page-header__nav-toggle {
  order: 1;
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  padding: 0;
  border: none;
  background-color: transparent;

  &:active {
    background-color: $color-base-secondary;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 24px;
    left: 22px;
    width: 16px;
    height: 2px;
    background-color: $color-base-second;
    box-shadow: 0 5px 0 0 $color-base-second, 0 10px 0 0 $color-base-second;
    transition: all ease 0.4s;
  }
}

.page-header__nav--opened .page-header__nav-toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 2px;
    top: 30px;
    left: 22px;
    box-shadow: none;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.page-header__nav--nojs .page-header__nav-toggle {
  display: none;
}

.page-header__nav-site {
  order: 2;
  display: none;

  @media (min-width: $tablet-width) {
    margin-right: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 142px;
  }
}

.page-header__nav-user {
  order: 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: 140px;

  @media (min-width: $tablet-width) {
    order: 3;
    margin-left: 0;
  }
}

@media (max-width: $tablet-width) {
  .page-header__nav--nojs .page-header__nav-site {
    display: flex;
  }

  .page-header__nav--opened .page-header__nav-site {
    display: flex;
  }
}
