.page {
  height: 100%;
  background-color: rgb(183, 219, 190);
}

.page__body {
  // display: grid;
  // grid-template-rows: min-content 1fr min-content;
  // align-content: start;
  // min-width: $mobile-width;
  // min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
}
