.promo__wrapper {
}

.promo__heading {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #7859cf;
  text-transform: uppercase;
}

.promo__list {
  @include list-reset;
}

.promo__item {
  &--decaf {
    background-color: #f3ebe1;
  }

  &--latte {
    background-color: #eae6fc;
  }

  &--espresso {
    background-color: #e5e6e8;
  }
}
.promo__img {
}
.promo__text {
}

.promo__item-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
}

.promo__description {
  font-size: 14px;
}

.promo__bottom {
}

.promo__old-price {
  line-height: 32px;
  color: #7859cf;
}

.promo__new-price {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
}

.promo__button {
  line-height: 24px;
  color: #ffffff;
  background-color: #7859cf;
}

.promo__controls {
}
.promo__control {
  &--prev {
  }
  &--next {
  }
}
