$color-base-first: #ffffff;
$color-base-second: #333333;
$color-base-third: #bdbdbd;
$color-base-primary: #7859cf;
$color-base-secondary: #f0ebff;

$color-primary-opacity: rgba(120, 89, 207, 0.25);
$color-primary-lighter: #9070ec;
$color-primary-darker: #593cac;

// $color-light-grey: #e2e2e2;
// $color-lightest-grey: #f8f8f8;

$color-flat-white: #f3ebe1;
$color-lavender-latte: #eae6fc;
$color-espresso: #e5e6e8;
