@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Montserrat"),
    url("../../fonts/montserratregular.woff") format("woff2"),
    url("../../fonts/montserratregular.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Montserrat"),
    url("../../fonts/montserratmedium.woff2") format("woff2"),
    url("../../fonts/montserratmedium.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("Montserrat"),
    url("../../fonts/montserratsemibold.woff2") format("woff2"),
    url("../../fonts/montserratsemibold.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Montserrat"),
    url("../../fonts/montserratbold.woff2") format("woff2"),
    url("../../fonts/montserratbold.woff") format("woff");
}
